{{#section 'css'}}
<style>
  .deleted {
    color: black !important;
    margin-left: 15px;
  }

  .discounted {
    margin-left: 15px;
    color: green;
  }

  .my-4 {
    color: black;
    font-weight: 700;
  }

  .hr-section {
    width: 80%;
    margin-top: 40px;
  }

  .wd {
    width: 100% !important;
  }

  .btn-chapter {
    border-radius: 0 !important;
    border-bottom: 1px solid black;
    padding: 10px;
  }

  .btn-chapter:focus {
    box-shadow: none !important;
  }

  .dropdown-units {
    border: 2px solid #858796;
  }

  .unit-items {
    display: block;
    padding: 10px 0;
  }

  .hr-chapter {
    margin: 0;
    padding: 0;
  }

  .dropdown-units {
    padding: 0 20px;
    display: none;
  }

  .course-main-content a,
  .course-main-content a:hover,
  .course-main-content a:visited {
    text-decoration: none;
  }

  .course-main-content {
    margin-top: 40px;
  }

  .course-main-content>div:first-of-type button {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
  }

  .review {
    margin: 0, 20, 0, 0;
  }

  .stars-outer {
    position: relative;
    display: inline-block;
  }

  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }

  .stars-outer::before {
    content: "\f005  \f005  \f005  \f005  \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: lightgray;
    font-size: 20px;
  }

  .stars-inner::before {
    content: "\f005  \f005  \f005  \f005  \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #F7DD00;
    font-size: 20px;
  }

  .custom-carousel {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .carousel-items {
    margin: 20px;
    max-width: 300px;
    position: relative;
  }

  .slick-btn button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .slide-arrow {
    position: absolute;
    top: 50%;
    margin-top: -15px;
  }

  .slick-show p {
    margin: 0;
    padding: 0;
  }

  .prev-arrow {
    left: -40px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .next-arrow {
    right: -40px;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .card-header {
    padding-top: 15px;
    padding-bottom: 7px;
    background-color: rgb(202, 214, 255);
  }

  .card-title {
    max-width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-footer span {
    margin-left: 32px !important;
  }

  .middle {
    padding-left: 35px !important;
  }

  .deleted {
    margin-left: 25px;
    color: rgb(39, 22, 9);
    font-size: 14px;
  }

  .heart-watchlist {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
  }

  .card-footer input {
    display: none;
  }

  .card-footer a,
  .card-footer button {
    width: 100px !important;
  }
</style>
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.3/plyr.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
  crossorigin="anonymous" />
{{/section}}

<!-- Page Content -->
<div class="container">
  <form action="/cart/add" method="POST" id="fmBuy">
    <input type="hidden" id="txtCourseID" name="id">
    <input type="hidden" id="txtQuantity" name="quantity">
  </form>

  <!-- Portfolio Item Heading -->
  <h1 style="" class="my-4 courseName">{{courseDetail.courseName}}</h1>

  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="http://placehold.it/750x500" alt="">
    </div>

    <div class="col-md-6">
      {{!-- <h3 class="my-3">Project Description</h3> --}}
      <p class="card-text">
      <h5><strong>{{courseDetail.subDescription}}</strong></h5>
      </p>

      {{!-- <p class="card-text text-primary"> <span class="font-weight-bolder"></span>Mobile Development
      </p>
      <p class="card-text text-primary"><span class="font-weight-bolder"></span> Web
        Development</p> --}}

      {{!-- <p class="card-text text-primary">
        <span class="font-weight-bolder"> Category:</span>courseDetail.catName
      </p> --}}

      <p class="card-text text-secondary">
        <span class="font-weight-bolder"> Instructor:</span> {{courseDetail.userName}}
      </p>

      {{#ifCond courseDetail.isFinished '!=' 0}}
      <p class="card-text text-success">
        <span span class="font-weight-bold mr-4">This course is complete</span>
      </p>
      {{else}}
      <p class="card-text text-primary">
        <span class="font-weight-bold mr-4">This course is not complete yet</span>
        <span class="font-weight-bolder"> Last Updated:</span> {{courseDetail.lastUpdateTime}}
      </p>
      {{/ifCond}}

      <p class="card-text text-success">
        {{#if_equal courseDetail.rating 'NaN'}}
        <span class="font-weight-bold mr-3"> Rating: No Rating</span>
        {{else}}
        <span class="font-weight-bold mr-3"> Rating: {{courseDetail.avgRating}}</span>

        {{/if_equal}}
        <span class="badge badge-success text-md  mr-3">
          Total Student Rating: {{courseDetail.reviewNumb}}
        </span>
        <span class="badge badge-success text-md">
          Students: {{courseDetail.student}}
        </span>
      </p>
      {{#if_equal courseDetail.rating 'NaN'}}
      {{else}}
      <div class="review" style="margin: 0px 0px 20px 0px; ">
        <div class="stars-outer">
          <div id="star-rating-avg" data-rating="{{courseDetail.avgRating}}" class="stars-inner">
          </div>
        </div>
        <br>
      </div>

      {{/if_equal}}

      {{#ifCond courseDetail.percent '!=' 0}}
      <p class="card-text text-danger">
        <span class="font-weight-bold">{{format
          courseDetail.discountedPrice}} VNĐ</span>
        <span class="font-weight-bold deleted"><del>{{format courseDetail.fee}} VNĐ</del></span>
        <span class="font-weight-bold discounted">{{courseDetail.percent}}% OFF</span>
      </p>
      {{else}}
      <p class="card-text text-danger">
        <span class="font-weight-bold"></span> {{format courseDetail.fee}} VNĐ
      </p>
      {{/ifCond}}

      {{#if isAuth}}
      <div class="card-text d-flex">
        <div class="mr-5">
          <button class="card-link btn btn-success add-cart">
            <i style="color: rgb(211, 48, 48);" class="fa fa-heart mr-2"></i>Add to Watchlist
          </button>
        </div>
        <div class="mr-5">
          <a data-id="{{courseDetail.courseID}}" href="javascript:;" id="btnBuy"
            class="card-link btn btn-success add-cart add-item">
            <i class="fa fa-cart-plus mr-2 "></i>Add to Cart
          </a>


        </div>
        <div>
          <button class="card-link btn btn-success add-cart">
            <i class="fa fa-shopping-cart mr-2 "></i>Buy Now
          </button>
        </div>
      </div>
      {{/if}}
    </div>
  </div>

  <hr class="hr-section">
  <h3 class="my-4">Full Description</h3>
  <div>
    <p class="card-text">{{courseDetail.fullDescription}}</p>
  </div>

  <hr class="hr-section">
  <h3 class="my-4">Course content</h3>
  <div>
    <h5>You can watch the preview videos here</h5>
    <video controls crossorigin playsinline
      data-poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg" id="player">
      <!-- Video files -->
      <source id="video-source" src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4" size="720">
    </video>
  </div>
  <div class="course-main-content">
    {{#each chaptersOfCourse}}
    <div class="chapter-items">
      <div class="dropdown">
        <button class="btn btn-secondary wd dropdown-toggle text-left btn-chapter" type="button">
          {{this.chapterName}}
          <span class="float-right mr-2"><strong class="mr-4">{{this.unitInChapter}}
              Units</strong>{{this.duration}}</span>
        </button>

        <div class="dropdown-units wd">
          {{#each ../unitsOfCourse}}
          {{#if (eq chapterID ../chapterID)}}
          <div class="unit-items">
            {{#if (eq flagReviewable '0')}}
            <a href="#"><i class="fa fa-file mr-2"></i>{{this.unitContent}}</a>
            <div class="float-right">
              <span class="ml-4">{{this.duration}}</span>
            </div>
            {{else}}
            <a href="#"><i class="fa fa-play mr-2"></i>{{this.unitContent}}</a>
            <div class="float-right">
              <a style="cursor: pointer;" class="player-src" data-type="mp4" data-src="../../vendor/videos/HTML.mp4"><i
                  class="fa fa-eye mr-2"></i>preview</a>
              <span class="ml-4">{{this.duration}}</span>
            </div>
            {{/if}}
          </div>
          {{/if}}
          {{/each}}
        </div>
        <hr class="hr-chapter">
      </div>
    </div>
    {{/each}}
  </div>

  <!-- /.row -->
  <hr class="hr-section">
  <h3 class="my-4">Reviews about this course</h3>
  <div>
    {{#if courseDetail.reviewEmpty}}
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 ">
          <h5 class="text-danger font-weight-bold">Review is empty!!!</h5>
        </div>
      </div>
    </div>
    {{else}}
    {{#each courseDetail.review}}
    <div class="review">
      <div class="row">
        <div class="col-1">
          <img src="../../vendor/img/review/man.png" style="width: 100%; border-radius: 50%; background: coral">
        </div>
        <div class="col-11">
          <div style="color: black;">
            <h5><b>{{userName}}</b></h4>
          </div>
          <div class="">
            <div class="stars-outer">
              <div class="stars-inner" style="width: {{rating}}%">
              </div>
            </div>
            <span class=" number-rating"></span>
          </div>
          <div>
            {{content}}
          </div>
        </div>
      </div>
      <hr>
    </div>
    {{/each}}
    {{/if}}
  </div>
  <hr class="hr-section">
  <h3 class="my-4">Related Courses</h3>
</div>
</div>
<div class="slick-show custom-carousel">
  {{#each fourthRows }}
  {{!-- <a href="http://google.com" target="_blank" rel="noopener noreferrer"> --}}
    <div class="card mb-3 carousel-items">
      <img class="card-img-top"
        src="https://repository-images.githubusercontent.com/134285701/635de980-586d-11ea-9220-1a3211239c30"
        alt="Card image cap">
      {{#if ../isAuth}}
      <span class="heart-watchlist" title="Add to Watchlist"><i class="fas fa-heart"></i></span>
      {{/if}}
      <div class="card-body">
        <h4 class="card-title text-dark font-weight-bolder">
          {{this.courseName}}
        </h4>


        {{#if_equal this.subjID 1 }}

        <p class="card-text text-primary"> <span class="font-weight-bolder"></span>Mobile Development
        </p>
        {{else}}
        <p class="card-text text-primary"><span class="font-weight-bolder"></span> Web
          Development</p>
        {{/if_equal}}

        <p class="card-text text-secondary">
          <span class="font-weight-bolder"></span> {{this.catName}}
        </p>

        <p class="card-text text-secondary">
          <span class="font-weight-bolder"> Instructor:</span> {{this.userName}}
        </p>
        <p class="card-text text-success">
          <span class="font-weight-bold"> Rating:</span>
          {{#if_equal this.rating 'NaN'}}
          No Rating
          {{else}}
          {{this.rating}} ({{this.countPeopleRating}})
          {{/if_equal}}
        </p>

        {{#ifCond this.discount '!=' 0}}
        <p class="card-text text-danger">
          <span class="font-weight-bold"></span> {{format this.discountedPrice}} VNĐ
          <span class="font-weight-bold deleted"><del>{{format this.fee}} VNĐ</del></span>
        </p>
        {{else}}
        <p class="card-text text-danger">
          <span class="font-weight-bold"></span> {{format this.fee}} VNĐ
        </p>
        {{/ifCond}}
      </div>
      <div class="card-footer">
        <a href="/course-list/{{this.courseID}}" class="card-link btn btn-info">
          <i class="fa fa-info"></i> Detail
        </a>

        {{#if ../isAuth}}

        <input type="text" id="txtCourseName" name="txtCourseName">
        <a data-id="{{this.courseID}}" href="javascript:;" id="btnBuy" class="card-link btn btn-success add-item ">
          <i class="fa fa-cart-plus mr-2 "></i>Buy
        </a>

        {{/if}}
      </div>
    </div>
    {{/each}}
</div>
<!-- Related Projects Row -->

<!-- /.container -->

{{#section 'js'}}
<script>
  function avgRating() {
    const rating = $("#star-rating-avg").data('rating') * 20;
    const ratingRounded = Math.round(rating);
    const percent = `${ratingRounded}%`
    document.querySelector("#star-rating-avg").style.width = percent;
    console.log(percent);
  }

  $(document).ready(avgRating);
</script>

<script>
  $(document).ready(function () {
    $('.slick-show').slick({
      infinite: true,
      speed: 800,
      slidesToShow: 4,
      slidesToScroll: 4,
      prevArrow: '<button class="slick-btn slide-arrow prev-arrow"></button>',
      nextArrow: '<button class="slick-btn slide-arrow next-arrow"></button>',
      responsive: [
        {
          breakpoint: 1125,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 700,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
      ]
    });

    $(".dropdown-units").hide();

    $(".btn-chapter").click(function (e) {
      $(this).next().slideToggle();
    });

    const player = new Plyr('#player');
    // Expose
    window.player = player;

    $('.player-src').on('click', function () {

      src = $(this).data("src");
      type = 'video/' + $(this).data("type");
      poster = $(this).data("poster") || "";

      //update video player
      player.source = {
        type: 'video',
        title: 'Example title',
        sources: [
          {
            src: src,
            type: type,
            size: 720
          }
        ],
        poster: poster
      };
      player.play();
    });
  });
</script>


<script type="module">
  import { openAlert } from "/utils/alertModal.js"
  function buyCouse() {
    const btnBuy = $("#btnBuy")
    $(".add-item").on('click', function (e) {
      e.preventDefault();
      const id = $(this).data('id');
      const vl = $("#txtCourseID").val(id)
      const quantity = $("#txtQuantity").val(1);
      console.log(id)
      console.log(vl)
      console.log(quantity)

      $("#fmBuy").submit();
    })
  }
  buyCouse();
</script>
<script src="https://cdn.plyr.io/3.6.3/plyr.polyfilled.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{{/section}}