{{#section 'css'}}
<style>
    .shadow-lg {
        box-shadow: none !important;
    }

    .card-title {
        transition: 0.53s;
    }

    .course-item:hover .card-title {
        color: lightseagreen !important;
    }

    .course-item {
        transition: 0.33s;
    }

    .course-item:hover {
        box-shadow: 0px -1px 20px 7px dodgerblue !important;


    }

    .btn {
        width: 48% !important;
    }

    .list-course {
        max-width: 1240px;
    }

    .sort-md {
        font-size: medium !important;
    }

    .card-title {
        max-width: fit-content;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 70px;
    }
</style>
{{/section}}


{{#section 'js'}}
<script>
    $(document).ready(function (e) {
        // executes when HTML-Document is loaded and DOM is ready
        console.log("document is ready");
        $(".card-items").hover(
            function () {
                $(this).addClass('shadow-lg').css('cursor', 'pointer');
            }, function () {
                $(this).removeClass('shadow-lg');
            }
        );
    });
</script>

<script>
    $('.button-addon2').on('click', function () {
        if ($(".searchContentListCourse").val() !== "") {
            $('.formSearchListCourse').submit();

        }
    })
</script>

<script type="module">
    import { openAlert } from "/utils/alertModal.js"
    function buyCouse() {
        const btnBuy = $("#btnBuy")
        $(".add-item").on('click', function (e) {
            e.preventDefault();
            const id = $(this).data('id');
            const vl = $("#txtCourseID").val(id)
            const quantity = $("#txtQuantity").val(1);
            console.log(id)
            console.log(vl)
            console.log(quantity)

            $("#fmBuy").submit();
        })
    }
    buyCouse();

</script>

<script>
    $('.price').on('click', function () {
        //let url = `/`;
        let urlParams = new URLSearchParams(location.search)
        let param = {
            page: 1,
            sort: ""
        }

        for (let key in param) {
            if (!urlParams.has(key)) {
                urlParams.append(key, param[key]);
            }
        }
        urlParams.set('sort', "price");
        let url = window.location.pathname;
        console.log(url + `?${urlParams.toString()}`);
        location.href = url + `?${urlParams.toString()}`;
    })
</script>

<script>
    $('.star').on('click', function () {
        //let url = `/`;
        let urlParams = new URLSearchParams(location.search)
        let param = {
            page: 1,
            sort: ""
        }

        for (let key in param) {
            if (!urlParams.has(key)) {
                urlParams.append(key, param[key]);
            }
        }
        urlParams.set('sort', "star");
        let url = window.location.pathname;
        console.log(url + `?${urlParams.toString()}`);

        location.href = url + `?${urlParams.toString()}`;
    })
</script>
{{/section}}

<div class="container-fluid mt-4 list-course">

    {{#if empty}}
    <div class="row">
        <div class="col-sm-12">
            <form action="/course-list/search" class="formSearchListCourse" id="formSearchListCourse" method="POST">

                <div class="input-group mb-3">

                    <input type="text" class="form-control searchContentListCourse" placeholder="Course"
                        aria-label="Course" aria-describedby="button-addon2" id="searchContentListCourse"
                        name="searchContentListCourse">
                    <button class="btn btn-outline-secondary button-addon2" type="button">Search</button>

                </div>
            </form>


        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Purchased Courses
                        <span class="float-right">

                            <ul class="navbar-nav ml-auto">
                                <form action="/sortby/star" method="POST" id="fmSort"></form>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-md" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-filter"></i>Sort By
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">

                                        <a class="dropdown-item price">
                                            <i class="fa fa-money mr-2"></i>Price
                                        </a>

                                        <a class="dropdown-item star">
                                            <i class="fa fa-star mr-2"></i>Star
                                        </a>

                                    </div>
                                </li>
                                </form>
                            </ul>

                        </span>
                    </h4>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5> Purchased Courses Are Empty!</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{#if showPagi}}
                    <div class="row">

                        <div class="col-sm-12 col-lg-12 ">
                            <div aria-label="Page navigation example  ">
                                <ul class="pagination justify-content-end">

                                    <li class="page-item  {{#unless can_go_prev}} disabled {{/unless}} "><a
                                            class="page-link" href="?page={{go_previous_page}}">Previous</a></li>
                                    {{#each pagiItem }}
                                    <li class="page-item {{#if isActive}} active{{/if}}"><a class="page-link"
                                            href="?page={{this.value}}">
                                            {{this.value}}
                                        </a></li>
                                    {{/each}}
                                    <li class="page-item {{#unless can_go_next}} disabled {{/unless}}"><a
                                            class="page-link" href="?page={{go_next_page}}">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{else}}

    <div class="row">
        <form action="/cart/add" method="POST" id="fmBuy">
            <input type="hidden" id="txtCourseID" name="id">
            <input type="hidden" id="txtQuantity" name="quantity">
        </form>

        <div class="col-sm-12">
            <form action="/course-list/search" class="formSearchListCourse" id="formSearchListCourse" method="POST">

                <div class="input-group mb-3">

                    <input type="text" class="form-control searchContentListCourse" placeholder="Course"
                        aria-label="Course" aria-describedby="button-addon2" id="searchContentListCourse"
                        name="searchContentListCourse">
                    <button class="btn btn-outline-secondary button-addon2" type="button">Search</button>

                </div>
            </form>
        </div>
    </div>
    <div class="row">


        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                        {{#if_equal _isInstructor 1}}
                        My Classes
                        {{else}}
                        Purchased Courses
                        {{/if_equal}}
                        <span class="float-right"></span>
                    </h4>

                </div>
                <div class="card-body">
                    <div class="row ">
                        {{#each courseCards }}
                        <div class="col-sm-12 col-md-6 col-lg-3 card-items   pb-5">
                            <div class="card course-item ">
                                <img class="card-img-top"
                                    src="https://repository-images.githubusercontent.com/134285701/635de980-586d-11ea-9220-1a3211239c30"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title text-dark font-weight-bolder">
                                        {{this.courseName}}
                                    </h4>

                                    <p class="card-description card-text text-primary">{{this.subDescription}}</p>

                                    {{#if_equal this.subjID 1 }}

                                    <p class="card-text text-primary"> <span class="font-weight-bolder">Type:
                                        </span>Mobile Development</p>
                                    {{else}}
                                    <p class="card-text text-primary"><span class="font-weight-bolder">Type: </span> Web
                                        Development</p>
                                    {{/if_equal}}

                                    {{#if_equal ../_isInstructor 1}}

                                    <a href="/course-list/{{this.courseID}}" class="card-link btn btn-info  w-25">
                                        <i class="fa fa-info mr-2 "></i>Detail
                                    </a>
                                    <a style="margin: 0 auto;" href="#" class="card-link btn btn-warning w-25 ">
                                        <i class="fa fa-pen mr-1"></i>Modify
                                    </a>

                                    {{else}}
                                    {{#if ../isAuth}}
                                    <div class="card-footer">
                                        <a href="/course/learn/{{this.courseID}}" class="btn btn-success w-25 ">
                                            Learn
                                        </a>
                                        <a href="/course-list/{{this.courseID}}" class="btn btn-info w-25">
                                            Detail
                                        </a>
                                    </div>
                                    {{else}}
                                    <a href="/course-list/{{this.courseID}}" class="card-link btn btn-info w-100">
                                        Detail
                                    </a>
                                    {{/if}}
                                    {{/if_equal}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{#if showPagi}}
                    <div class="row">

                        <div class="col-sm-12 col-lg-12 ">
                            <div aria-label="Page navigation example  ">
                                <ul class="pagination justify-content-end">

                                    <li class="page-item  {{#unless can_go_prev}} disabled {{/unless}} "><a
                                            class="page-link" href="?page={{go_previous_page}}">Previous</a></li>
                                    {{#each pagiItem }}
                                    <li class="page-item {{#if isActive}} active{{/if}}"><a class="page-link"
                                            href="?page={{this.value}}">
                                            {{this.value}}
                                        </a></li>
                                    {{/each}}
                                    <li class="page-item {{#unless can_go_next}} disabled {{/unless}}"><a
                                            class="page-link" href="?page={{go_next_page}}">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>