<div class="row">

    {{#if_equal "my_string" "my_string"}}
    x is "my_string"
    {{else}}
    x isn't "my_string"
    {{/if_equal}}




    {{#ifCond this.discount '!=' 0}}
    <p class="card-text text-warning">
        <span class="font-weight-bolder"> Discount:</span> {{this.discount}}%
    </p>

    {{else}}

    {{/ifCond}}

</div>



// save cat


{{#each courseInCat }}
<a href="/course-list/byCat/{{this.catID}}?page=1" class="list-group-item list-group-item-action      {{#if isActive}}
                           active
                       {{/if}}  ">
    {{this.catName}}


    {{#ifCond this.CourseCount '!=' 0}}
    <span class="badge badge-pill badge-danger float-right mt-1">
        {{this.CourseCount}}
    </span>
    {{/ifCond}}

</a>
{{/each}}