{{#section 'css'}}
<style>
    .list-course {
        max-width: 1140px;
    }

    .sort-md {
        font-size: medium !important;
    }
</style>
{{/section}}


{{#section 'js'}}

<script>
    $('.button-addon2').on('click', function () {
        if ($(".searchContentListCourse").val() !== "") {
            $('.formSearchListCourse').submit();

        }
    })
</script>

<script type="module">
    import { openAlert } from "/utils/alertModal.js"
    function buyCouse() {
        const btnBuy = $("#btnBuy")
        $(".add-item").on('click', function (e) {
            e.preventDefault();
            const id = $(this).data('id');
            let vl = $("#txtCourseID").val(id)
            const quantity = $("#txtQuantity").val(1);
            console.log(id)
            console.log(vl)
            console.log(quantity)
            console.log("hello");

            $("#fmBuy").submit();
        })
    }
    buyCouse();

</script>

<script>
    $('.price').on('click', function () {
        //let url = `/`;
        let urlParams = new URLSearchParams(location.search)
        let param = {
            page: 1,
            sort: ""
        }

        for (let key in param) {
            if (!urlParams.has(key)) {
                urlParams.append(key, param[key]);
            }
        }
        urlParams.set('sort', "price");
        let url = window.location.pathname;
        console.log(url + `?${urlParams.toString()}`);
        location.href = url + `?${urlParams.toString()}`;
    })
</script>

<script>
    $('.star').on('click', function () {
        //let url = `/`;
        let urlParams = new URLSearchParams(location.search)
        let param = {
            page: 1,
            sort: ""
        }

        for (let key in param) {
            if (!urlParams.has(key)) {
                urlParams.append(key, param[key]);
            }
        }
        urlParams.set('sort', "star");
        let url = window.location.pathname;
        console.log(url + `?${urlParams.toString()}`);

        location.href = url + `?${urlParams.toString()}`;
    })
</script>

<script type="module">
    import { openAlert } from "/utils/alertModal.js"
    function actionWatchlist() {
        $("#deleteWatchlist").on('click', function (e) {
            e.preventDefault();
            const courseID = $(this).data('id');
            const id = $("#txtCourseID-watchlist").val(courseID);
            let method = "delete";
            $("#txtMethod-watchlist").val(method);
            console.log(id)
            console.log(method)

            $("#fmWatchlist").submit();
        })
    }
    actionWatchlist();
</script>

{{/section}}

<div class="container-fluid mt-4 list-course">

    {{#if empty}}
    <div class="row">

        <div class="col-sm-12">
            <form action="/watchlist/search" class="formSearchListCourse" id="formSearchListCourse" method="POST">

                <div class="input-group mb-3">

                    <input type="text" class="form-control searchContentListCourse" placeholder="Course"
                        aria-label="Course" aria-describedby="button-addon2" id="searchContentListCourse"
                        name="searchContentListCourse">
                    <button class="btn btn-outline-secondary button-addon2" type="button">Search</button>

                </div>
            </form>


        </div>
    </div>
    <div class="row">

        <div class="col-sm-3">
            <div class="card mb-3">
                <h4 class="card-header">Categories</h4>
                <div class="list-group list-group-flush  ">

                    {{#each courseInCat }}


                    <a href="/watchlist/byCat/{{this.catID}}?page=1" class="list-group-item list-group-item-action      {{#if this.isActive}}
                           active
                       {{/if}}  ">
                        {{this.catName}}


                        {{#ifCond this.CourseCount '!=' 0}}
                        <span class="badge badge-pill badge-danger float-right mt-1">
                            {{this.CourseCount}}
                        </span>
                        {{/ifCond}}

                    </a>

                    {{/each}}


                </div>
            </div>

        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header">
                    <h4>
                        List Courses
                        <span class="float-right">

                            <ul class="navbar-nav ml-auto">
                                <form action="/sortby/star" method="POST" id="fmSort"></form>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-md" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-filter"></i>Sort By
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">

                                        <a class="dropdown-item price" href="#">
                                            <i class="fa fa-money mr-2"></i>Price
                                        </a>

                                        <a class="dropdown-item star" href="#;">
                                            <i class="fa fa-star mr-2"></i>Star
                                        </a>

                                    </div>
                                </li>
                                </form>
                            </ul>

                        </span>
                    </h4>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>List Courses Are Empty!</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{#if showPagi}}
                    <div class="row">

                        <div class="col-sm-12 col-lg-12 ">
                            <div aria-label="Page navigation example  ">
                                <ul class="pagination justify-content-end">

                                    <li class="page-item  {{#unless can_go_prev}} disabled {{/unless}} "><a
                                            class="page-link" href="?page={{go_previous_page}}">Previous</a></li>
                                    {{#each pagiItem }}
                                    <li class="page-item {{#if isActive}} active{{/if}}"><a class="page-link"
                                            href="?page={{this.value}}">
                                            {{this.value}}
                                        </a></li>

                                    {{/each}}




                                    <li class="page-item {{#unless can_go_next}} disabled {{/unless}}"><a
                                            class="page-link" href="?page={{go_next_page}}">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="row">
        <form action="/cart/add" method="POST" id="fmBuy">
            <input type="hidden" id="txtCourseID" name="id">
            <input type="hidden" id="txtQuantity" name="quantity">
        </form>
        <div class="col-sm-12">
            <form action="/watchlist/search" class="formSearchListCourse" id="formSearchListCourse" method="POST">

                <div class="input-group mb-3">

                    <input type="text" class="form-control searchContentListCourse" placeholder="Course"
                        aria-label="Course" aria-describedby="button-addon2" id="searchContentListCourse"
                        name="searchContentListCourse">
                    <button class="btn btn-outline-secondary button-addon2" type="button">Search</button>

                </div>
            </form>

        </div>
    </div>
    <div class="row">

        <div class="col-sm-3">
            <div class="card mb-3">
                <h4 class="card-header">Categories</h4>
                <div class="list-group list-group-flush  ">

                    {{#each courseInCat }}


                    <a href="/watchlist/byCat/{{this.catID}}?page=1" class="list-group-item list-group-item-action      {{#if isActive}}
                           active
                       {{/if}}  ">
                        {{this.catName}}


                        {{#ifCond this.CourseCount '!=' 0}}
                        <span class="badge badge-pill badge-danger float-right mt-1">
                            {{this.CourseCount}}
                        </span>
                        {{/ifCond}}

                    </a>

                    {{/each}}


                </div>
            </div>

        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Watchlist Courses
                        <span class="float-right">

                            <ul class="navbar-nav ml-auto">
                                <form action="/user/logout" method="POST" id="fmLogout">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link sort-md" href="#" id="navbarDropdownBlog"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-filter"></i>Sort By
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right"
                                            aria-labelledby="navbarDropdownBlog">

                                            <a class="dropdown-item price" href="#">
                                                <i class="fa fa-money mr-2"></i>Price
                                            </a>

                                            <a class="dropdown-item star" href="#;">
                                                <i class="fa fa-star mr-2"></i>Star
                                            </a>

                                        </div>
                                    </li>
                                </form>
                            </ul>

                        </span>
                    </h4>

                </div>
                <div class="card-body">
                    <div class="row">
                        {{#each allCourse }}
                        <div class="col-lg-4">
                            <div class="card mb-5">
                                <div>
                                    <form action="/watchlist/method" method="POST" id="fmWatchlist">
                                        <input type="hidden" id="txtCourseID-watchlist" name="courseID">
                                        <input type="hidden" id="txtMethod-watchlist" name="method">
                                    </form>
                                    <button id="deleteWatchlist" data-id="{{courseID}}">
                                        <i class="fa fa-heart text-danger"></i>
                                    </button>
                                </div>
                                <img class="card-img-top" src="{{this.avatar}}" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title text-dark font-weight-bolder">
                                        {{this.courseName}}
                                    </h4>


                                    {{#if_equal this.subjID 1 }}

                                    <p class="card-text text-primary"> <span class="font-weight-bolder">Type:
                                        </span>Mobile Development</p>
                                    {{else}}
                                    <p class="card-text text-primary"><span class="font-weight-bolder">Type: </span> Web
                                        Development</p>
                                    {{/if_equal}}

                                    <p class="card-text text-secondary">
                                        <span class="font-weight-bolder"> Instructor:</span> {{this.userName}}
                                    </p>
                                    <p class="card-text text-success">
                                        <span class="font-weight-bold"> Rating:</span>
                                        {{#if_equal this.rating 'NaN'}}
                                        No Rating
                                        {{else}}
                                        {{this.rating}}
                                        {{/if_equal}}
                                        <span class="badge badge-success text-md">
                                            Total Student Rating: {{this.countPeopleRating}}
                                        </span>
                                    </p>



                                    {{#ifCond this.discount '!=' 0}}
                                    <p class="card-text text-warning">
                                        <span class="font-weight-bolder"> Discount:</span> {{this.discount}}%
                                    </p>

                                    {{else}}

                                    {{/ifCond}}
                                    </p>



                                    <p class="card-text text-danger">
                                        <span class="font-weight-bold"> Fee:</span> {{format this.fee}} VNĐ
                                    </p>
                                </div>
                                <div class="card-footer">

                                    {{#if ../isAuth}}
                                    <a href="/course-list/{{this.courseID}}" id="btnDetail"
                                        class="card-link btn btn-info">
                                        <i class="fa fa-info mr-2 "></i>Detail
                                    </a>

                                    <a data-id="{{this.courseID}}" href="javascript:;" id="btnBuy"
                                        class="card-link btn btn-success add-item btnBuy ">
                                        <i class="fa fa-cart-plus mr-2 "></i>Buy
                                    </a>


                                    {{else}}
                                    <a href="/course-list/{{this.courseID}}" class="card-link btn btn-info w-100">
                                        <i class="fa fa-info mr-2 "></i>Detail
                                    </a>

                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{#if showPagi}}
                    <div class="row">

                        <div class="col-sm-12 col-lg-12 ">
                            <div aria-label="Page navigation example  ">
                                <ul class="pagination justify-content-end">

                                    <li class="page-item  {{#unless can_go_prev}} disabled {{/unless}} "><a
                                            class="page-link" href="?page={{go_previous_page}}">Previous</a></li>
                                    {{#each pagiItem }}
                                    <li class="page-item {{#if isActive}} active{{/if}}"><a class="page-link"
                                            href="?page={{this.value}}">
                                            {{this.value}}
                                        </a></li>

                                    {{/each}}




                                    <li class="page-item {{#unless can_go_next}} disabled {{/unless}}"><a
                                            class="page-link" href="?page={{go_next_page}}">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}


</div>