{{#section 'css'}}
<style>
    .cat-link {
        text-decoration: none;
    }

    .cat-link:hover {
        color: green;
        font-weight: 750;
        text-decoration: none;
    }

    .deleted {
        color: black !important;
        margin-left: 15px;
    }

    .discounted {
        margin-left: 15px;
        color: green;
    }

    .my-4 {
        color: black;
        font-weight: 700;
    }

    .hr-section {
        width: 80%;
        margin-top: 40px;
    }

    .wd {
        width: 100% !important;
    }

    .btn-chapter {
        border-radius: 0 !important;
        border-bottom: 1px solid black;
        padding: 10px;
    }

    .btn-chapter:focus {
        box-shadow: none !important;
    }

    .dropdown-units {
        border: 2px solid #858796;
    }

    .unit-items {
        display: block;
        padding: 10px 0;
    }

    .hr-chapter {
        margin: 0;
        padding: 0;
    }

    .dropdown-units {
        padding: 0 20px;
        display: none;
    }

    .course-main-content a,
    .course-main-content a:hover,
    .course-main-content a:visited {
        text-decoration: none;
    }

    .course-main-content {
        margin-top: 40px;
    }

    .course-main-content>div:first-of-type button {
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
    }

    .review {
        margin: 0, 20, 0, 0;
    }

    .stars-outer {
        position: relative;
        display: inline-block;
    }

    .stars-inner {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0;

    }

    .stars-outer::before {
        content: "\f005  \f005  \f005  \f005  \f005";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: lightgray;
        font-size: 20px;
    }

    .stars-inner::before {
        content: "\f005  \f005  \f005  \f005  \f005";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #F7DD00;
        font-size: 20px;
    }

    .fa-star {
        color: lightgray;

        font-size: 20px;
    }

    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="crossorigin="anonymous"/>
</style>
{{/section}}

<!-- Page Content -->
<div class="container">

    <form action="/watchlist/method" method="POST" id="fmWatchlist">
        <input type="hidden" id="txtCourseID-watchlist" name="courseID">
        <input type="hidden" id="txtMethod-watchlist" name="method">
    </form>

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{courseDetail.courseName}}</h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-6">
            <img style="width: 520px; height: 330px; margin-top: 20px" class="img-fluid"
                src="../.{{courseDetail.avatar}}" alt="">
        </div>

        <div class="col-md-6">
            {{!-- <h3 class="my-3">Project Description</h3> --}}
            <p class="card-text">
            <h5><strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum veritatis libero est saepe!
                    Hic,
                    deleniti. Ad
                    dolorem maxime laboriosam, explicabo error quas reiciendis delectus expedita possimus fuga, nesciunt
                    pariatur.
                    Nobis.</strong></h5>
            </p>


            <p class="card-text text-primary">
                Category:
                <a class="cat-link" href="/course-list/byCat/{{courseDetail.catID}}?page=1"
                    title="see all courses in {{courseDetail.catName}} category">{{courseDetail.catName}}
                </a>
            </p>


            <p class="card-text text-secondary">
                <span class="font-weight-bolder"> Instructor:</span> {{courseDetail.userName}}
            </p>

            {{#ifCond courseDetail.isFinished '!=' 0}}
            <p class="card-text text-success">
                <span span class="font-weight-bold mr-4">This course is complete</span>
            </p>
            {{else}}
            <p class="card-text text-primary">
                <span class="font-weight-bold mr-4">This course is not complete yet</span>
                <span class="font-weight-bolder"> Last Updated:</span> {{courseDetail.lastUpdateTime}}
            </p>
            {{/ifCond}}

            <p class="card-text text-success">
                {{#if_equal courseDetail.rating 'NaN'}}
                <span class="font-weight-bold mr-3"> Rating: No Rating</span>
                {{else}}
                <span class="font-weight-bold mr-3"> Rating: {{courseDetail.avgRating}}</span>

                {{/if_equal}}
                <span class="badge badge-success text-md  mr-3">
                    Total Student Rating: {{courseDetail.reviewNumb}}
                </span>
                <span class="badge badge-success text-md">
                    Students: {{courseDetail.student}}
                </span>
            </p>
            {{#if_equal courseDetail.rating 'NaN'}}
            {{else}}
            <div class="review" style="margin: 0px 0px 20px 0px; ">
                <div class="stars-outer">
                    <div id="star-rating-avg" data-rating="{{courseDetail.avgRating}}" class="stars-inner">
                    </div>
                </div>
                <br>
            </div>

            {{/if_equal}}



            {{#if isAuth}}
            <div class="card-text d-flex">
                <div class="mr-5">
                    <button class="card-link btn btn-success add-cart" id="add-to-watchlist-button"
                        data-id="{{courseDetail.courseID}}" data-existed="{{courseDetail.isExistedWatchlist}}"
                        data-abc="abc">
                        {{#if courseDetail.isExistedWatchlist}}
                        <i style="color:  rgb(211, 48, 48);" class="fa fa-heart mr-2"></i>Delete Watchlist

                        {{else}}
                        <i style="color:black;" class="fa fa-heart mr-2"></i>Add to Watchlist
                        {{/if}}
                    </button>
                </div>
            </div>
            {{/if}}
        </div>
    </div>

    <hr class="hr-section">
    <h3 class="my-4">Full Description</h3>
    <div>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, commodi debitis itaque saepe
            tempora aperiam error obcaecati corporis alias reprehenderit, minima fugit omnis molestiae doloribus numquam
            veritatis minus nisi dolor.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, commodi debitis itaque saepe
            tempora aperiam error obcaecati corporis alias reprehenderit, minima fugit omnis molestiae doloribus numquam
            veritatis minus nisi dolor.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, commodi debitis itaque saepe
            tempora aperiam error obcaecati corporis alias reprehenderit, minima fugit omnis molestiae doloribus numquam
            veritatis minus nisi dolor.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, commodi debitis itaque saepe
            tempora aperiam error obcaecati corporis alias reprehenderit, minima fugit omnis molestiae doloribus numquam
            veritatis minus nisi dolor.</p>
    </div>

    <hr class="hr-section">
    <h3 class="my-4">Course content</h3>

    <div>
        <h5>You can watch the preview videos here</h5>
        <video controls crossorigin playsinline
            data-poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg" id="player">
            <!-- Video files -->
            <source id="video-source" src="{{_firstVideoLink}}" type="video/mp4" size="720">
        </video>

    </div>
    <div id="ratingDiv">
        <div class="course-main-content">
            {{#each chaptersOfCourse}}
            <div class="chapter-items">
                <div class="dropdown">
                    <button class="btn btn-secondary wd dropdown-toggle text-left btn-chapter" type="button">
                        chaptername
                        <span class="float-right mr-2"><strong class="mr-4">9 Units</strong>13:03</span>
                    </button>

                    <div class="dropdown-units wd">
                        {{#each ../unitsOfCourse}}
                        {{#if (eq chapterID ../chapterID)}}
                        <div class="unit-items">
                            <a href="#"><i class="fa fa-play mr-2"></i>unit name</a>
                            <div class="float-right">
                                <a style="cursor: pointer;" class="player-src" data-type="mp4"
                                    data-src="{{this.videoLink}}"><i class="fa fa-eye mr-2"></i>watch</a>
                                <span class="ml-4">{{this.duration}}</span>
                            </div>
                            {{/if}}
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                    <hr class="hr-chapter">
                </div>
                {{/each}}
            </div>
        </div>

        <!-- Related Projects Row -->


        <!-- /.row -->
        <hr class="hr-section">
        <h3 class="my-4">Reviews</h3>

        {{#if courseDetail.hasReviewed}}
        <div>
            <form id="fmReview" method="POST" action="/review/add">
                <div class="alert alert-danger" role="alert" id="alertRatingStar" style="display: none">
                    Please Choose Your Rating Star!
                </div>
                <div>
                    <p>Choose your rating star!</p>
                    <i class="fas fa-star" id="s1"></i>
                    <i class="fas fa-star" id="s2"></i>
                    <i class="fas fa-star" id="s3"></i>
                    <i class="fas fa-star" id="s4"></i>
                    <i class="fas fa-star" id="s5"></i>
                </div>
                <input type="hidden" class="form-control" id="txtRatingStar" placeholder="Enter Review" name="rating">
                <input type="hidden" class="form-control" id="txtCourseID" placeholder="Enter Review" name="courseID"
                    value="{{courseDetail.courseID}}">


                <div style="margin: 20px 0px 20px 0px;">
                    <div class="alert alert-danger" role="alert" id="alertContentReview" style="display: none">
                        Please Type Some Review For This Course!
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Write your review!</label>
                        <input type="text" class="form-control" id="txtContentReview" placeholder="Enter Review"
                            name="content">
                    </div>
                </div>

                <button type="submit" class="btn btn-success" style="margin: 0 0 50px 0;">Send Review</button>
            </form>
            <hr>


        </div>
        {{/if}}

        {{#if courseDetail.reviewEmpty}}
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12 ">
                    <h5 class="text-danger font-weight-bold">Review is empty!!!</h5>
                </div>
            </div>
        </div>
        {{else}}

        {{#each courseDetail.review}}
        <div class="review">
            <div class="row">
                <div class="col-1">
                    <img src="../../vendor/img/review/man.png"
                        style="width: 100%; border-radius: 50%; background: coral">
                </div>
                <div class="col-11">
                    <div style="color: black;">
                        <h5><b>{{userName}}</b></h4>
                    </div>
                    <div class="">
                        <div class="stars-outer">
                            <div class="stars-inner" style="width: {{rating}}%">
                            </div>
                        </div>
                        <span class=" number-rating"></span>
                    </div>
                    <div>
                        {{content}}
                    </div>
                </div>
            </div>
            <hr>
        </div>
        {{/each}}

        {{/if}}




    </div>

    <!-- /.container -->

    {{#section 'js'}}
    <script>
        function avgRating() {
            const rating = $("#star-rating-avg").data('rating') * 20;
            const ratingRounded = Math.round(rating);
            const percent = `${ratingRounded}%`
            document.querySelector("#star-rating-avg").style.width = percent;
            console.log(percent);
        }

        $(document).ready(avgRating);
    </script>

    <script>
        $(document).ready(function () {
            $(".dropdown-units").hide();

            $(".btn-chapter").click(function (e) {
                $(this).next().slideToggle();
            });

            const player = new Plyr('#player');
            // Expose
            window.player = player;

            $('.player-src').on('click', function () {

                src = $(this).data("src");
                type = 'video/' + $(this).data("type");
                poster = $(this).data("poster") || "";

                //update video player
                player.source = {
                    type: 'video',
                    title: 'Example title',
                    sources: [
                        {
                            src: src,
                            type: type,
                            size: 720
                        }
                    ],
                    poster: poster
                };
                player.play();
            });
        });
    </script>




    <script type="module">
        import { openAlert } from "/utils/alertModal.js"
        function actionWatchlist() {
            const btnBuy = $("#add-to-watchlist-button")
            $("#add-to-watchlist-button").on('click', function (e) {
                e.preventDefault();
                const courseID = $(this).data('id');
                const id = $("#txtCourseID-watchlist").val(courseID);
                const existed = $(this).data('existed');
                let method = "add";
                if (existed === true) {
                    method = "delete";
                }
                $("#txtMethod-watchlist").val(method);
                console.log(id)
                console.log(method)

                $("#fmWatchlist").submit();
            })
        }
        actionWatchlist();
    </script>

    <script type="module">
        import { openAlert } from "/utils/alertModal.js";
        $("#fmReview").on('submit', function (e) {
            e.preventDefault();

            const rating = $("#txtRatingStar").val();
            const content = $("#txtContentReview").val();
            const courseID = $("#txtCourseID").val();

            if (rating === "") {
                $("#alertRatingStar").css("display", "block");
            } else if (content === "") {
                $("#alertContentReview").css("display", "block");
            }
            else {
                $("#fmReview").off('submit').submit();
            }
        })
    </script>

    <script>
        $("#txtContentReview").on("keyup", function (e) {
            if (e.keyCode !== 13) {
                $("#alertContentReview").css("display", "none");

            }
        })
    </script>


    <script>
        $("#s1").click(function () {
            $(".fa-star").css("color", "lightgray");
            $("#s1").css("color", "#F7DD00");
            $("#alertRatingStar").css("display", "none");
            $("#txtRatingStar").val(1);
        });
        $("#s2").click(function () {
            $(".fa-star").css("color", "lightgray");
            $("#alertRatingStar").css("display", "none");
            $("#s1,#s2").css("color", "#F7DD00");
            $("#txtRatingStar").val(2);
        });
        $("#s3").click(function () {
            $(".fa-star").css("color", "lightgray");
            $("#alertRatingStar").css("display", "none");
            $("#s1,#s2,#s3").css("color", "#F7DD00");
            $("#txtRatingStar").val(3);
        });
        $("#s4").click(function () {
            $(".fa-star").css("color", "lightgray");
            $("#alertRatingStar").css("display", "none");
            $("#s1,#s2,#s3, #s4").css("color", "#F7DD00");
            $("#txtRatingStar").val(4);
        });
        $("#s5").click(function () {
            $("#s1,#s2,#s3, #s4, #s5").css("color", "#F7DD00");
            $("#alertRatingStar").css("display", "none");
            $("#txtRatingStar").val(5);
        });
    </script>
    {{/section}}