<header>

    <form action="/cart/add" method="POST" id="fmBuy">
        <input type="hidden" id="txtCourseID" name="id">
        <input type="hidden" id="txtQuantity" name="quantity">
    </form>

    {{!-- <div id="banner"></div> --}}

    {{!-- slide show --}}



    <div class="slideshow-container ">

        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="/public/img/banner1.jpg" style="width:100%">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="/public/img/banner2.jpg" style="width:100%">
            <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="/public/img/banner3.jpg" style="width:100%">
            <div class="text">Caption Three</div>
        </div>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    {{!-- <div id="banner-content">
        <h1>Get early access, now</h1>
        <p>Be first for our <strong>free learning course</strong>, and get courses from $9.99.</p>
    </div> --}}

    <div class="card">
        <div class="card-header">
            <h4>
                Hotest This Week
            </h4>
        </div>
        <div class="slick-show custom-carousel">
            {{#each listFourHightllightCoursesOfWeek }}
            {{!-- <a href="http://google.com" target="_blank" rel="noopener noreferrer"> --}}
                <div class="card course-item mb-3 carousel-items">
                    <img class="card-img-top" src="../.{{this.thumbnail}}" alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title text-dark font-weight-bolder">
                            {{this.courseName}}
                        </h5>


                        {{#if_equal this.subjID 1 }}

                        <p class="card-text text-primary"> <span class="font-weight-bolder"></span>Mobile Development
                        </p>
                        {{else}}
                        <p class="card-text text-primary"><span class="font-weight-bolder"></span> Web
                            Development</p>
                        {{/if_equal}}

                        <a class="card-text link-cat" href="/course-list/byCat/{{this.catID}}?page=1"
                            title="see all courses in {{this.catName}} category"><span
                                class="font-weight-bolder"></span>
                            {{this.catName}}
                        </a>

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"> Views:</span> {{this.views}} <i class="fas fa-eye"></i>
                        </p>

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"> Instructor:</span> {{this.userName}}
                        </p>
                        <p class="card-text text-success">
                            <span class="font-weight-bold"> Rating:</span>
                            {{#if_equal this.rating 'NaN'}}
                            No Rating
                            {{else}}
                            {{this.rating}} ({{this.countPeopleRating}})
                            {{/if_equal}}
                        </p>

                        {{#ifCond this.discount '!=' 0}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.discountedPrice}} VNĐ
                            <span class="font-weight-bold deleted"><del>{{format this.fee}} VNĐ</del></span>
                        </p>
                        {{else}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.fee}} VNĐ
                        </p>
                        {{/ifCond}}
                    </div>
                    <div class="card-footer">



                        {{#if ../isAuth}}
                        <a href="/course-list/{{this.courseID}}" class="card-link btn btn-info">
                            <i class="fa fa-info"></i> Detail
                        </a>


                        <input type="text" id="txtCourseName" name="txtCourseName">

                        <a data-id="{{this.courseID}}" href="javascript:;" id="btnBuy"
                            class="card-link btn btn-success add-item ">
                            <i class="fa fa-cart-plus mr-2 "></i>Buy
                        </a>


                        {{else}}

                        <a href="/course-list/{{this.courseID}}" class="card-link btn btn-info w-100"
                            style="width:100%!important">
                            <i class="fa fa-info"></i> Detail
                        </a>

                        {{/if}}
                    </div>
                </div>
                {{!--
            </a> --}}
            {{/each}}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>
                Top 10 Newest Courses
            </h4>
        </div>
        <div class="slick-show custom-carousel">
            {{#each listTopTenNewestOfWeek }}
            {{!-- <a href="http://google.com" target="_blank" rel="noopener noreferrer"> --}}
                <div class="card course-item mb-3 carousel-items">
                    <img class="card-img-top" src="../.{{this.avatar}}" alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title text-dark font-weight-bolder">
                            {{this.courseName}}
                        </h5>


                        {{#if_equal this.subjID 1 }}

                        <p class="card-text text-primary"> <span class="font-weight-bolder"></span>Mobile Development
                        </p>
                        {{else}}
                        <p class="card-text text-primary"><span class="font-weight-bolder"></span> Web
                            Development</p>
                        {{/if_equal}}

                        <a class="card-text link-cat" href="/course-list/byCat/{{this.catID}}?page=1"
                            title="see all courses in {{this.catName}} category"><span
                                class="font-weight-bolder"></span>
                            {{this.catName}}
                        </a>

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"> Views:</span> {{this.views}} <i class="fas fa-eye"></i>
                        </p>

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"> Instructor:</span> {{this.userName}}
                        </p>
                        <p class="card-text text-success">
                            <span class="font-weight-bold"> Rating:</span>
                            {{#if_equal this.rating 'NaN'}}
                            No Rating
                            {{else}}
                            {{this.rating}} ({{this.countPeopleRating}})
                            {{/if_equal}}
                        </p>

                        {{#ifCond this.discount '!=' 0}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.discountedPrice}} VNĐ
                            <span class="font-weight-bold deleted"><del>{{format this.fee}} VNĐ</del></span>
                        </p>
                        {{else}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.fee}} VNĐ
                        </p>
                        {{/ifCond}}
                    </div>
                    <div class="card-footer">

                        {{#if ../isAuth}}
                        <a href="/course-list/{{this.courseID}}" class="card-link btn btn-info">
                            <i class="fa fa-info"></i> Detail
                        </a>


                        <input type="text" id="txtCourseName" name="txtCourseName">
                        <a data-id="{{this.courseID}}" href="javascript:;" id="btnBuy"
                            class="card-link btn btn-success add-item ">
                            <i class="fa fa-cart-plus mr-2 "></i>Buy
                        </a>

                        {{else}}
                        <a href="/course-list/{{this.courseID}}" style="width:100%!important"
                            class="card-link btn btn-info">
                            <i class="fa fa-info"></i> Detail
                        </a>


                        {{/if}}


                    </div>
                </div>
                {{!--
            </a> --}}
            {{/each}}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>
                Top 10 Most Views
            </h4>
        </div>
        <form action="/watchlist/method" method="POST" id="fmWatchlist">
            <input type="hidden" id="txtCourseID-watchlist" name="courseID">
            <input type="hidden" id="txtMethod-watchlist" name="method">
        </form>
        <div class="slick-show custom-carousel">
            {{#each ListMostViews }}
            {{!-- <a href="http://google.com" target="_blank" rel="noopener noreferrer"> --}}
                <div class="card course-item mb-3 carousel-items">
                    <img class="card-img-top" src="../.{{this.avatar}}" alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title text-dark font-weight-bolder">
                            {{this.courseName}}
                        </h5>


                        {{#if_equal this.subjID 1 }}
                        <p class="card-text text-primary"> <span class="font-weight-bolder"></span>Mobile Development
                        </p>
                        {{else}}
                        <p class="card-text text-primary"><span class="font-weight-bolder"></span> Web
                            Development</p>
                        {{/if_equal}}

                        <a class="card-text link-cat" href="/course-list/byCat/{{this.catID}}?page=1"
                            title="see all courses in {{this.catName}} category"><span
                                class="font-weight-bolder"></span>
                            {{this.catName}}
                        </a>

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"> Views:</span> {{this.views}} <i class="fas fa-eye"></i>
                        </p>

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"> Instructor:</span> {{this.userName}}
                        </p>
                        <p class="card-text text-success">
                            <span class="font-weight-bold"> Rating:</span>
                            {{#if_equal this.rating 'NaN'}}
                            No Rating
                            {{else}}
                            {{this.rating}} ({{this.countPeopleRating}})
                            {{/if_equal}}
                        </p>

                        {{#ifCond this.discount '!=' 0}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.discountedPrice}} VNĐ
                            <span class="font-weight-bold deleted"><del>{{format this.fee}} VNĐ</del></span>
                        </p>
                        {{else}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.fee}} VNĐ
                        </p>
                        {{/ifCond}}
                    </div>
                    <div class="card-footer">

                        {{#if ../isAuth}}
                        <a href="/course-list/{{this.courseID}}" class="card-link btn btn-info">
                            <i class="fa fa-info"></i> Detail
                        </a>


                        <input type="text" id="txtCourseName" name="txtCourseName">
                        <a data-id="{{this.courseID}}" href="javascript:;" id="btnBuy"
                            class="card-link btn btn-success add-item ">
                            <i class="fa fa-cart-plus mr-2 "></i>Buy
                        </a>
                        {{else}}
                        <a href="/course-list/{{this.courseID}}" class="card-link btn btn-info"
                            style="width: 100%!important;">
                            <i class="fa fa-info"></i> Detail
                        </a>


                        {{/if}}
                    </div>
                </div>
                {{!--
            </a> --}}
            {{/each}}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>
                Top 5 Most Subcribes This Week
            </h4>
        </div>
        <div class="slick-show custom-carousel">
            {{#each listTopTenMostSubcribeOfWeek }}
            {{!-- <a href="http://google.com" target="_blank" rel="noopener noreferrer"> --}}
                <div class="card course-item mb-3 carousel-items">
                    <img class="card-img-top" src="../.{{this.avatar}}" alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title text-dark font-weight-bolder">
                            {{this.courseName}}
                        </h5>


                        {{#if_equal this.subjID 1 }}

                        <p class="card-text text-primary"> <span class="font-weight-bolder"></span>Mobile Development
                        </p>
                        {{else}}
                        <p class="card-text text-primary"><span class="font-weight-bolder"></span> Web
                            Development</p>
                        {{/if_equal}}

                        <a class="card-text link-cat" href="/course-list/byCat/{{this.catID}}?page=1"
                            title="see all courses in {{this.catName}} category"><span
                                class="font-weight-bolder"></span>
                            {{this.catName}}
                        </a>

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"> Views:</span> {{this.views}} <i class="fas fa-eye"></i>
                        </p>

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"> Instructor:</span> {{this.userName}}
                        </p>
                        <p class="card-text text-success">
                            <span class="font-weight-bold"> Rating:</span>
                            {{#if_equal this.rating 'NaN'}}
                            No Rating
                            {{else}}
                            {{this.rating}} ({{this.countPeopleRating}})
                            {{/if_equal}}
                        </p>

                        {{#ifCond this.discount '!=' 0}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.discountedPrice}} VNĐ
                            <span class="font-weight-bold deleted"><del>{{format this.fee}} VNĐ</del></span>
                        </p>
                        {{else}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.fee}} VNĐ
                        </p>
                        {{/ifCond}}
                    </div>
                    <div class="card-footer">

                        {{#if ../isAuth}}
                        <a href="/course-list/{{this.courseID}}" class="card-link btn btn-info">
                            <i class="fa fa-info"></i> Detail
                        </a>


                        <input type="text" id="txtCourseName" name="txtCourseName">

                        <a data-id="{{this.courseID}}" href="javascript:;" id="btnBuy"
                            class="card-link btn btn-success add-item ">
                            <i class="fa fa-cart-plus mr-2 "></i>Buy
                        </a>

                        {{else}}

                        <a href="/course-list/{{this.courseID}}" class="card-link btn btn-info" style="width: 100%;">
                            <i class="fa fa-info"></i> Detail
                        </a>
                        {{/if}}
                    </div>
                </div>
                {{!--
            </a> --}}
            {{/each}}
        </div>
    </div>
</header>