<header>
    <div id="banner"></div>
    <div id="banner-content">
        <h1>Get early access, now</h1>
        <p>Be first for our <strong>free learning course</strong>, and get courses from $9.99.</p>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>
                Hotest This Week
            </h4>
        </div>
        <div class="d-flex justify-content-between">
            {{#each mostBuyWeekCourse }}
            {{!-- <a href="http://google.com" target="_blank" rel="noopener noreferrer"> --}}
                <div class="card mb-3 carousel-items">
                    <img class="card-img-top"
                        src="https://repository-images.githubusercontent.com/134285701/635de980-586d-11ea-9220-1a3211239c30"
                        alt="Card image cap">
                    {{#if ../isAuth}}
                    <span class="heart-watchlist" title="Add to Watchlist"><i class="fas fa-heart"></i></span>
                    {{/if}}
                    <div class="card-body">
                        <h4 class="card-title text-dark font-weight-bolder">
                            {{this.courseName}}
                        </h4>


                        {{#if_equal this.subjID 1 }}

                        <p class="card-text text-primary"> <span class="font-weight-bolder"></span>Mobile Development
                        </p>
                        {{else}}
                        <p class="card-text text-primary"><span class="font-weight-bolder"></span> Web
                            Development</p>
                        {{/if_equal}}

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"></span> {{this.catName}}
                        </p>

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"> Instructor:</span> {{this.userName}}
                        </p>
                        <p class="card-text text-success">
                            <span class="font-weight-bold"> Rating:</span>
                            {{#if_equal this.rating 'NaN'}}
                            No Rating
                            {{else}}
                            {{this.rating}} ({{this.countPeopleRating}})
                            {{/if_equal}}
                        </p>

                        {{#ifCond this.discount '!=' 0}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.discountedPrice}} VNĐ
                            <span class="font-weight-bold deleted"><del>{{format this.fee}} VNĐ</del></span>
                        </p>
                        {{else}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.fee}} VNĐ
                        </p>
                        {{/ifCond}}
                    </div>
                    <div class="card-footer">
                        <a class="card-link btn btn-info">
                            <i class="fa fa-info"></i> Detail
                        </a>

                        {{#if ../isAuth}}
                        <form action="" method="POST">
                            <input type="text" id="txtCourseName" name="txtCourseName">
                            <button class="card-link btn btn-success add-cart">
                                <i class="fa fa-cart-plus mr-2 "></i>Buy
                            </button>
                        </form>
                        {{/if}}
                    </div>
                </div>
                {{!--
            </a> --}}
            {{/each}}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>
                Top 10 Newest Courses
            </h4>
        </div>
        <div class="slick-show custom-carousel">
            {{#each allCourse }}
            {{!-- <a href="http://google.com" target="_blank" rel="noopener noreferrer"> --}}
                <div class="card mb-3 carousel-items">
                    <img class="card-img-top"
                        src="https://repository-images.githubusercontent.com/134285701/635de980-586d-11ea-9220-1a3211239c30"
                        alt="Card image cap">
                    {{#if ../isAuth}}
                    <span class="heart-watchlist" title="Add to Watchlist"><i class="fas fa-heart"></i></span>
                    {{/if}}
                    <div class="card-body">
                        <h4 class="card-title text-dark font-weight-bolder">
                            {{this.courseName}}
                        </h4>


                        {{#if_equal this.subjID 1 }}

                        <p class="card-text text-primary"> <span class="font-weight-bolder"></span>Mobile Development
                        </p>
                        {{else}}
                        <p class="card-text text-primary"><span class="font-weight-bolder"></span> Web
                            Development</p>
                        {{/if_equal}}

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"></span> {{this.catName}}
                        </p>

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"> Instructor:</span> {{this.userName}}
                        </p>
                        <p class="card-text text-success">
                            <span class="font-weight-bold"> Rating:</span>
                            {{#if_equal this.rating 'NaN'}}
                            No Rating
                            {{else}}
                            {{this.rating}} ({{this.countPeopleRating}})
                            {{/if_equal}}
                        </p>

                        {{#ifCond this.discount '!=' 0}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.discountedPrice}} VNĐ
                            <span class="font-weight-bold deleted"><del>{{format this.fee}} VNĐ</del></span>
                        </p>
                        {{else}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.fee}} VNĐ
                        </p>
                        {{/ifCond}}
                    </div>
                    <div class="card-footer">
                        <a class="card-link btn btn-info">
                            <i class="fa fa-info"></i> Detail
                        </a>

                        {{#if ../isAuth}}
                        <form action="" method="POST">
                            <input type="text" id="txtCourseName" name="txtCourseName">
                            <button class="card-link btn btn-success add-cart">
                                <i class="fa fa-cart-plus mr-2 "></i>Buy
                            </button>
                        </form>
                        {{/if}}
                    </div>
                </div>
                {{!--
            </a> --}}
            {{/each}}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>
                Top 10 Most Views
            </h4>
        </div>
        <div class="slick-show custom-carousel">
            {{#each allCourse }}
            {{!-- <a href="http://google.com" target="_blank" rel="noopener noreferrer"> --}}
                <div class="card mb-3 carousel-items">
                    <img class="card-img-top"
                        src="https://repository-images.githubusercontent.com/134285701/635de980-586d-11ea-9220-1a3211239c30"
                        alt="Card image cap">
                    {{#if ../isAuth}}
                    <span class="heart-watchlist" title="Add to Watchlist"><i class="fas fa-heart"></i></span>
                    {{/if}}
                    <div class="card-body">
                        <h4 class="card-title text-dark font-weight-bolder">
                            {{this.courseName}}
                        </h4>


                        {{#if_equal this.subjID 1 }}

                        <p class="card-text text-primary"> <span class="font-weight-bolder"></span>Mobile Development
                        </p>
                        {{else}}
                        <p class="card-text text-primary"><span class="font-weight-bolder"></span> Web
                            Development</p>
                        {{/if_equal}}

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"></span> {{this.catName}}
                        </p>

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"> Instructor:</span> {{this.userName}}
                        </p>
                        <p class="card-text text-success">
                            <span class="font-weight-bold"> Rating:</span>
                            {{#if_equal this.rating 'NaN'}}
                            No Rating
                            {{else}}
                            {{this.rating}} ({{this.countPeopleRating}})
                            {{/if_equal}}
                        </p>

                        {{#ifCond this.discount '!=' 0}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.discountedPrice}} VNĐ
                            <span class="font-weight-bold deleted"><del>{{format this.fee}} VNĐ</del></span>
                        </p>
                        {{else}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.fee}} VNĐ
                        </p>
                        {{/ifCond}}
                    </div>
                    <div class="card-footer">
                        <a class="card-link btn btn-info">
                            <i class="fa fa-info"></i> Detail
                        </a>

                        {{#if ../isAuth}}
                        <form action="" method="POST">
                            <input type="text" id="txtCourseName" name="txtCourseName">
                            <button class="card-link btn btn-success add-cart">
                                <i class="fa fa-cart-plus mr-2 "></i>Buy
                            </button>
                        </form>
                        {{/if}}
                    </div>
                </div>
                {{!--
            </a> --}}
            {{/each}}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>
                Top 10 Most Subcribes This Week
            </h4>
        </div>
        <div class="slick-show custom-carousel">
            {{#each allCourse }}
            {{!-- <a href="http://google.com" target="_blank" rel="noopener noreferrer"> --}}
                <div class="card mb-3 carousel-items">
                    <img class="card-img-top"
                        src="https://repository-images.githubusercontent.com/134285701/635de980-586d-11ea-9220-1a3211239c30"
                        alt="Card image cap">
                    {{#if ../isAuth}}
                    <span class="heart-watchlist" title="Add to Watchlist"><i class="fas fa-heart"></i></span>
                    {{/if}}
                    <div class="card-body">
                        <h4 class="card-title text-dark font-weight-bolder">
                            {{this.courseName}}
                        </h4>


                        {{#if_equal this.subjID 1 }}

                        <p class="card-text text-primary"> <span class="font-weight-bolder"></span>Mobile Development
                        </p>
                        {{else}}
                        <p class="card-text text-primary"><span class="font-weight-bolder"></span> Web
                            Development</p>
                        {{/if_equal}}

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"></span> {{this.catName}}
                        </p>

                        <p class="card-text text-secondary">
                            <span class="font-weight-bolder"> Instructor:</span> {{this.userName}}
                        </p>
                        <p class="card-text text-success">
                            <span class="font-weight-bold"> Rating:</span>
                            {{#if_equal this.rating 'NaN'}}
                            No Rating
                            {{else}}
                            {{this.rating}} ({{this.countPeopleRating}})
                            {{/if_equal}}
                        </p>

                        {{#ifCond this.discount '!=' 0}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.discountedPrice}} VNĐ
                            <span class="font-weight-bold deleted"><del>{{format this.fee}} VNĐ</del></span>
                        </p>
                        {{else}}
                        <p class="card-text text-danger">
                            <span class="font-weight-bold"></span> {{format this.fee}} VNĐ
                        </p>
                        {{/ifCond}}
                    </div>
                    <div class="card-footer">
                        <a class="card-link btn btn-info">
                            <i class="fa fa-info"></i> Detail
                        </a>

                        {{#if ../isAuth}}
                        <form action="" method="POST">
                            <input type="text" id="txtCourseName" name="txtCourseName">
                            <button class="card-link btn btn-success add-cart">
                                <i class="fa fa-cart-plus mr-2 "></i>Buy
                            </button>
                        </form>
                        {{/if}}
                    </div>
                </div>
                {{!--
            </a> --}}
            {{/each}}
        </div>
    </div>

</header>